<section class="container-fluid py-5">
  <div class="containe">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <h2 class="text-center"><%= t(".sign_up") %></h2>
        <div class="card">
          <div class="card-body">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :roles, as: :radio_buttons, collection: Role.where.not(name: "Admin"), value_method: :name, required: true, wrapper: :vertical_collection_inline %>
              <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                required: true,
                hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, t(".sign_up"), class: "btn btn-block btn-marron" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-4 py-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>