<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4 is-offset-4">
        <h2 class="title has-text-centered">Sign up</h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%#= render "devise/shared/error_messages", resource: resource %>
          <% if resource.errors[:role].any? %>
          <div class="field">
            <%= f.label :role, class: "label" %>
            <div class="control is-expanded field_with_errors">
              <div class="select is-fullwidth">
                <%= f.select :role, ["Particulier", "Profesionnel"], required: true, include_blank: true, class: "input" %>
              </div>
              <% if resource.errors[:role].any? %>
              <p class="help is-danger">
                <%= resource.errors[:role].first %>
              </p>
              <% end %>
            </div>
          </div>
          <% else %>
          <div class="field">
            <%= f.label :role, class: "label" %>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <%= f.select :role, ["Particulier", "Profesionnel"], required: true, include_blank: true, class: "input" %>
              </div>
              <% if resource.errors[:role].any? %>
              <p class="help is-danger">
                <%= resource.errors[:role].first %>
              </p>
              <% end %>
            </div>
          </div>
          <% end %>

          <div class="field">
            <%= f.label :name, class: "label" %>
            <div class="control">
              <%= f.text_field :name, placeholder: "Prénom et Nom", autocomplete: "name", autofocus: true, class: "input" %>
            </div>
            <% if resource.errors[:name].any? %>
            <p class="help is-danger">
              <%= resource.errors[:name].first %>
            </p>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            </div>
            <% if resource.errors[:email].any? %>
            <p class="help is-danger">
              <%= resource.errors[:email].first %>
            </p>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
            </div>
            <% if resource.errors[:password].any? %>
            <p class="help is-danger">
              <%= resource.errors[:password].first %>
            </p>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
            </div>
            <% if resource.errors[:password_confirmation].any? %>
            <p class="help is-danger">
              <%= resource.errors[:password_confirmation].first %>
            </p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
              <%= f.submit "Sign up", class: "button is-marron" %>
            </div>
          </div>
          <% end %>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </section>
