<section class="container-fluid py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Nous contacter</h2>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4>Formulaire de contact</h4>
                <p>
                    <small>S'il vous plaît remplissez le formulaire ci-dessous pour nous envoyer un email et nous vous
                        contacterons dans les plus brefs délais.</small>
                </p>
                <%= simple_form_for @contact_us do |f| %>
                <div class="row">
                    <div class="col-lg-6">
                        <%= f.input :first_name, label: "Prénom" %>
                    </div>
                    <div class="col-lg-6">
                        <%= f.input :last_name, label: "Nom" %>
                    </div>
                    <div class="col-lg-6">
                        <%= f.input :email, label: "Email" %>
                    </div>
                    <div class="col-lg-6">
                        <%= f.input :phone_number, label: "Numero de téléphone" %>
                    </div>
                    <div class="col-lg-12">
                        <%= f.input :message, as: :text, label: "Message", input_html: { rows: 5 } %>
                    </div>
                    <div class="col-lg-12">
                        <%= f.submit "Envoyer", class: "btn btn-marron" %>
                    </div>
                </div>

                <% end %>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <h4>Nos informations de contact</h4>
                <address>
                    <ul class="list-unstyled">
                        <li>
                            <strong>Adresse</strong>
                            <p>
                                xxxxxxxxxxxx
                            </p>
                        </li>
                        <li>
                            <strong>Téléphone</strong>
                            <p>
                                xxxxxxxxxxxx
                            </p>
                        </li>
                        <li>
                            <strong>Email</strong>
                            <p>
                                <%= mail_to "xxxxxxxxxxxx", "xxxxxxxxxxxx", class: "text-dark" %>
                            </p>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
</section>