<%= simple_form_for(property) do |form| %>
<div class="card">
  <div class="card-header">
    <p class="mb-0 h5">Informations sur le biens</p>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-lg-6">
        <%= form.input :ad_type, collection: Property::AD_TYPES, include_blank: false, label: "Type d'annonce" %>
      </div>
      <div class="col-lg-6">
        <%= form.input :category, collection: Property::CATEGORIES, include_blank: false, label: "Catégorie" %>
      </div>
      <div class="col-lg-3">
        <%= form.input :area, as: :integer, label: "Surface du biens" %>
      </div>
      <div class="col-lg-3">
        <%= form.input :price, as: :integer, label: "Prix de vente ou location" %>
      </div>
      <div class="col-lg-3">
        <%= form.input :bedroom, as: :integer, required: true, label: "Nombre de chambres" %>
      </div>
      <div class="col-lg-3">
        <%= form.input :bathroom, as: :integer, required: true, label: "Nombre de salles de bain" %>
      </div>
      <div class="col-lg-12">
        <%= form.input :description, as: :text, input_html: {rows: "5"}, label: "Description du biens" %>
      </div>
    </div>
  </div>
</div>

<br>

<!-- <div class="card sr-only">
  <div class="card-header">
    <p class="mb-0 h5">Commodité (Optionel)</p>
  </div>
  <div class="card-body">

  </div>
</div>

<br> -->

<div class="card">
  <div class="card-header">
    <p class="mb-0 h5">Photos du biens</p>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-lg-4">
        <%= form.input :photos, as: :file, input_html: {name: "property[photos][]"} %>
      </div>
      <div class="col-lg-4">
        <%= form.input :photos, as: :file, input_html: {name: "property[photos][]"} %>
      </div>
      <div class="col-lg-4">
        <%= form.input :photos, as: :file, input_html: {name: "property[photos][]"} %>
      </div>
    </div>
  </div>
</div>

<br>

<% if current_user.phone_number.blank? %>
<%= form.simple_fields_for :user do |user_form| %>
<div class="card">
  <div class="card-header">
    <p class="mb-0 h5">Informations de contact</p>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-lg-6">
        <%= user_form.input :email, label: "Adresse email", input_html: {value: current_user.email}, readonly: true  %>
      </div>
      <div class="col-lg-6">
        <%= user_form.input :phone_number, label: "Numéro de téléphone"  %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<br>

<div class="card">
  <div class="card-header">
    <p class="mb-0 h5">(Optionnel)</p>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-lg-6">
        <%= form.input :sponsoring, as: :radio_buttons, label: "Souhaitez-vous sponsoriser votre annonce ?", wrapper: :vertical_collection_inline %>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <div class="form-row">
      <% if @property.persisted? %>
      <div class="col-lg-4">
        <%#= link_to 'Annuler', properties_path, class: "btn btn-light btn-block" %>
      </div>
      <div class="col-lg-4">
        <%= form.submit "Modifier l'annonce", class: "btn btn-marron btn-block" %>
      </div>
      <% else %>
      <div class="col-lg-4">
        <%#= link_to 'Annuler', properties_path, class: "btn btn-light btn-block" %>
      </div>
      <div class="col-lg-4">
        <%= form.submit "Publier l'annonce", class: "btn btn-marron btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<% end %>