<%= form_with(model: property, local: true) do |form| %>
<%# if property.errors.any? %>
<!-- <div id="error_explanation" class="is-hidden">
  <h2><%#= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

  <ul>
    <%# property.errors.full_messages.each do |message| %>
    <li><%#= message %></li>
    <%# end %>
  </ul>
</div> -->
<%# end %>

<div class="card">
  <header class="card-header has-background-white-ter">
    <p class="card-header-title">
      Informations de base sur le biens
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <%= form.hidden_field :ad_type_id, value: session[:ad_type_id] %>

<!--         <div class="column is-12">
          <div class="field">
            <%#= form.label :ad_type_id, "Type d'annonce", class: "label required"  %>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <%#= form.select :ad_type_id, AdType.pluck(:name, :id), include_blank: true %>
              </div>
            </div>
          </div>
        </div> -->

        <div class="column is-12">
          <div class="field">
            <%= form.label :title, "Titre de l'annonce", class: "label required"  %>
            <div class="control">
              <%= form.text_field :title, class: "input", placeholder: "Titre de l'annonce" %>
            </div>
            <% if @property.errors[:title].any? %>
            <p class="help is-danger">
              <%= @property.errors[:title].first %>
            </p>
            <% end %>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <%= form.label :property_type_id, "Type de biens", class: "label required" %>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <%= form.select :property_type_id, PropertyType.pluck(:name, :id), include_blank: true %>
              </div>
              <% if @property.errors[:property_type_id].any? %>
              <p class="help is-danger">
                <%= @property.errors[:property_type_id].first %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
        
        <% if session[:ad_type_name] == "Vente" %>
        <div class="column is-6">
          <div class="field">
            <%= form.label :price, "Prix de vente", class: "label required" %>
            <div class="control">
              <%= form.number_field :price, class: "input" %>
            </div>
            <% if @property.errors[:price].any? %>
            <p class="help is-danger">
              <%= @property.errors[:price].first %>
            </p>
            <% end %>
          </div>
        </div>
        <% elsif session[:ad_type_name] == "Location" %>
        <div class="column is-6">
          <%= form.label :price, "Prix de loyer", class: "label required" %>
          <div class="field has-addons">
            <div class="control">
              <%= form.number_field :price, class: "input" %>
            </div>
            <div class="control">
              <a class="button is-static">
                /mois  
              </a>
            </div>
          </div>
        </div>
        <% end %>
        
        <div class="column is-6">
          <%= form.label :area, "Surface du biens", class: "label required"  %>
          <div class="field has-addons">
            <div class="control">
              <%= form.number_field :area, placeholder: "Surface du biens", class: "input" %>
            </div>
            <div class="control">
              <a class="button is-static">
                m<sup>2</sup>  
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header has-background-white-ter">
    <p class="card-header-title">
      Informations détaillés sur le biens 
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <div class="column is-12">
          <div class="field">
            <%= form.label :description, "Description du biens", class: "label required"  %>
            <div class="control">
              <%= form.text_area :description, placeholder: "Description du biens", class: "textarea" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header has-background-white-ter">
    <p class="card-header-title">
      Commodité (Optionel)
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <div class="column is-12">

        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header has-background-white-ter">
    <p class="card-header-title">
      Photos du biens
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <%# 3.times do |i| %>
        <div class="column is-12">
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              <%= form.file_field :photos, hint: 'No special characters.', class: "file-input drop", multiple: true, name: "property[photos][]" %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload fa-lg"></i>
                </span>
                <span class="file-label">
                  Photos
                </span>
              </span>
              <span class="file-name">

              </span>
            </label>
          </div>
          <% if @property.errors[:photos].any? %>
          <p class="help is-danger">
            <%= @property.errors[:photos].first %>
          </p>
          <% end %>
          <p class="help">3 photos maximum.</p>
        </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header has-background-white-ter">
    <p class="card-header-title">
      Informations sur la localisation du biens 
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <div class="column is-4">
          <div class="field">
            <%= form.label :country_id, "Pays dans lequel se trouve le biens", class: "label required"  %>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <%= form.select :country_id, Country.pluck(:name, :id), include_blank: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">

        </div>
        <div class="column is-4">
          <div class="field">
            <%= form.label :location, "Adresse ou lieu ou se trouve le biens", class: "label"  %>
            <div class="control">
              <%= form.text_field :address, placeholder: "L'adresse du biens", class: "input"  %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header has-background-white-ter">
    <p class="card-header-title">
      Informations de contact
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">
        <div class="column is-4">
          <div class="field">
            <%#= form.label :first_name, "Votre prénom", class: "label" %>
            <div class="control">
              <%#= form.text_field :first_name, class: "input", placeholder: "Prénom"  %>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="field">
            <%#= form.label :last_name, "Votre Nom", class: "label"  %>
            <div class="control">
              <%#= form.text_field :last_name, class: "input", placeholder: "Nom"  %>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="field">
            <%#= form.label :phone_number, "Votre numero de téléphone", class: "label"   %>
            <div class="control">
              <%#= form.text_field :phone_number, class: "input", placeholder: "Numéro de téléphone" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>

<div class="columns">
  <div class="column is-12">
    <div class="box">
      <% if @property.persisted? %>
      <%= form.submit "Modifier", class: "button is-marron is-fullwidth" %>
      <% else %>
      <%= form.submit "Enregistrer", class: "button is-marron is-fullwidth" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>