<section class="hero has-background-grey">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-3 has-text-white">
        Recherche avancé
      </h1>
      <h2 class="subtitle has-text-white">
        Trouvez la meilleure maison pour votre famille.
      </h2>
      <div class="box">
        <%= form_with url: search_properties_path, method: :get, local: true do |f| %>
        <div class="columns is-multiline">
          <div class="column is-3">
            <div class="field">
              <%= f.label :ad_type, "Vous souhaitez ?", class: "label has-text-left is-medium"  %>
              <div class="control is-expanded">
                <div class="select is-fullwidth is-medium">
                  <%= f.select :ad_type, {"Louer un biens" => "Location", "Acheter un biens" => "Vente"}.sort, include_blank: true, class: "is-medium" %>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= f.label :property_type, "Quel type de biens ?", class: "label has-text-left is-medium"  %>
              <div class="control is-expanded">
                <div class="select is-fullwidth is-medium">
                  <%= f.select :property_type, @property_types.collect {|pt| [pt.name, pt.name]}, include_blank: true, class: "is-medium" %>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <%= f.label :location, "Où ?", class: "label has-text-left is-medium"  %>
              <div class="control">
                <%= f.text_field :location, placeholder: "Saisissez le nom d'un pays ou d'une ville", class: "input is-radiusless is-medium"  %>
              </div>
            </div>
          </div>
          <div class="column is-2">
            <div class="field">
              <div class="control">
                <%= f.submit "Rechercher", class: "button is-marron is-fullwidth is-radiusless button-recherche is-medium" %>
              </div>
            </div>
          </div>
          <div class="column is-12 is-sr-only avec-et-sans-is-sr-only">
            <div class="columns is-multiline">
              <div class="column is-3">
                <div class="field">
                  <%= f.label :min_price, "Prix minimum", class: "label has-text-left is-medium"  %>
                  <div class="control">
                    <%= f.number_field :min_price, class: "input is-radiusless is-medium"  %>
                  </div>
                </div>
              </div>
              <div class="column is-3">
                <div class="field">
                  <%= f.label :max_price, "Prix maximum", class: "label has-text-left is-medium"  %>
                  <div class="control">
                    <%= f.number_field :max_price, class: "input is-radiusless is-medium"  %>
                  </div>
                </div>
              </div>
              <div class="column is-3">
                <div class="field">
                  <%= f.label :min_area, "Surface minimum", class: "label has-text-left is-medium"  %>
                  <div class="control">
                    <%= f.text_field :min_area, placeholder: "Saisissez le nom d'un pays ou d'une ville", class: "input is-radiusless is-medium"  %>
                  </div>
                </div>
              </div>
              <div class="column is-3">
                <div class="field">
                  <%= f.label :max_area, "surface maximum", class: "label has-text-left is-medium"  %>
                  <div class="control">
                    <%= f.text_field :max_area, placeholder: "Saisissez le nom d'un pays ou d'une ville", class: "input is-radiusless is-medium"  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <a class="re-avance">Recherche avancée</a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% if @properties.present? %>
      <% @properties.each do |property| %>
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%=  %>
            </figure>
          </div>
          <div class="card-content">
            <h4 class="title is-4"><%= property.title %></h4>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
  </div>
</section>