<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <% if @property.ad_type_id == 1 %>
                                <h3>
                                    <span class="badge badge-secondary">A louer</span>
                                </h3>
                                <% elsif @property.ad_type_id == 2 %>
                                <h3>
                                    <span class="badge badge-secondary">A vendre</span>
                                </h3>
                                <% end %>
                                <h4>
                                    <%= @property.property_type.name.capitalize + " - " + @property.area.to_s %>m<sup>2</sup>
                                </h4>
                                <p>
                                    <i class="fas fa-map-marker-alt fa-lg"></i>&nbsp;
                                    <%= @property.country.name.capitalize %> - <%= @property.city.capitalize %>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <% if @property.ad_type_id == 1 %>
                                <h3>
                                    <%= number_with_delimiter(@property.price)  %>&nbsp; <sup>f/mois</sup>
                                </h3>
                                <% elsif @property.ad_type_id == 2 %>
                                <h3>
                                    <%= number_with_delimiter(@property.price)  %>&nbsp; <sup>f</sup>
                                </h3>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-theme owl-property-show-page">
                            <% if @property.photos.present? %>
                            <% @property.photos.each do |photo| %>
                            <div class="item">
                                <figure class="image">
                                    <%= image_tag photo, class: "img-fluid" %>
                                </figure>
                            </div>
                            <% end %>
                            <% else %>
                            <p>ANNONCE SANS PHOTO</p>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4>Description</h4>
                        <p>
                            <%= @property.description %>
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h4>Détails</h4>

                    </div>
                    <div class="col-lg-12">
                        <h4>Localisation</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h3>Contacter</h3>
                                <%= simple_form_for "" do |f| %>
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <%= f.input :name %>
                                    </div>
                                    <div class="col-lg-12">
                                        <%= f.input :email, as: :email %>
                                    </div>
                                    <div class="col-lg-12">
                                        <%= f.input :phone_number, as: :tel %>
                                    </div>
                                    <div class="col-lg-12">
                                        <%= f.input :body, as: :text %>
                                    </div>
                                </div>
                                <%= f.button :submit, "Envoyer", class: "btn btn-marron"  %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <p id="notice"><%#= notice %></p> -->

<%#= link_to 'Edit', edit_property_path(@property) %> |
<%#= link_to 'Back', properties_path %>