<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "ROVER HOUSE", root_path, class: "navbar-item title is-marginless" %>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
         <%= link_to "Accueil", root_path, class: "navbar-item"  %>
         <%#= link_to "Acheter", properties_path, class: "navbar-item"  %>
        <%#= link_to "Louer", properties_path, class: "navbar-item"  %>
        <% @ad_types.each do |ad_type| %>
        <%= link_to ad_type.name, properties_path(ad_type: ad_type.name), class: "navbar-item"  %>
        <% end %>
        <%= link_to "Aménager", properties_path, class: "navbar-item"  %>
       
    <!--   <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div> -->
    </div>
    <% if user_signed_in? %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to current_user.email, edit_user_registration_path, class: "navbar-link"  %>
          <div class="navbar-dropdown is-right">
            <%= link_to 'Modifier mon compte', edit_user_registration_path, :class => 'navbar-item' %>
            <hr class="navbar-divider">
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'dropdown-item', data: {confirm: "Are your sûre ?"}, id: "deconnexion"  %>
          </div>
        </div>
        <div class="buttons is-marginless" >
          <%= link_to "Déposer une annonce", ad_types_path, class: "button is-marron is-marginless" %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Espace client", new_user_session_path, class: "button is-light" %>
          <%= link_to "Déposer une annonce", ad_types_path, class: "button is-marron" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</nav>


