  <div class="jumbotron jumbotron-fluid mb-0 jumbotron-home-page d-flex flex-column justify-content-center">
    <div class="container text-center">
      <h1 class="display-4 text-white">Bienvenue sur <strong>ROVER HOUSE</strong></h1>
      <p class="lead text-white">Trouvez la meilleure maison pour votre famille.</p>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <%= simple_form_for "", url: search_properties_path , method: :get do |f| %>
          <div class="form-row">
            <div class="col-lg-2">
              <%= f.input :ad_type, collection: Property::AD_TYPES, label: false, include_blank: true, prompt: "Type d'annonce" %>
            </div>
            <div class="col-lg-2">
              <%= f.input :category, collection: Property::CATEGORIES, as: :select, required: false, label: false, include_blank: true, prompt: "Catégorie" %>
            </div>
            <div class="col-lg-2">
              <%= f.input :country, collection: ["Bénin", "Togo", "Gabon", "Cameroun", "Burkina Faso", "Niger", "Côte d’Ivoire"].sort, include_blank: true, required: false, label: false, prompt: "Pays" %>
            </div>
            <div class="col-lg-2">
              <%= f.input :city, placeholder: "Ville", required: false, label: false %>
            </div>
            <div class="col-lg-2">
              <%= f.input :price, as: :integer, placeholder: "Prix max", required: false, label: false %>
            </div>
            <div class="col-lg-2">
              <%= f.button :submit, "Rechercher", class: "btn btn-marron btn-block btn-rechercher" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <section class="container-fluid py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 py-3">
          <h3 class="text-center">Dernières annonces immobilières publiés</h3>
        </div>
        <div class="col-lg-12">
          <div class="owl-carousel owl-theme owl-home-page">
            <% if @properties.present? %>
            <% @properties.each do |property| %>
            <div class="item">

              <div class="card"
              style="border-bottom: 3px solid #5d4037; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">

              <%= image_tag property.photos.first.url, class: "card-img-top"  %>

              <% if property.ad_type_id == 1 %>
              <span class="tag is-light is-medium" style="position: absolute; top: 10px; left: 10px;">
                A louer
              </span>
              <% elsif property.ad_type_id == 2 %>
              <span class="tag is-light is-medium" style="position: absolute; top: 10px; left: 10px;">
                A vendre
              </span>
              <% end %>

              <% if property.ad_type_id == 1 %>
              <span class="tag is-dark is-medium" style="position: absolute; top: 10px; right: 10px;">
                <%= number_with_delimiter(property.price) %> <sup>f/mois</sup>
              </span>
              <% elsif property.ad_type_id == 2 %>
              <span class="tag is-dark is-medium" style="position: absolute; top: 10px; right: 10px;">
                <%= number_with_delimiter(property.price) %> <sup>f</sup>
              </span>
              <% end %>

              <div class="card-body">
                <h5 class="card-title">
                  <%= property.title %>
                </h5>
                <p class="card-text">
                  <i class="fas fa-map-marker-alt"></i>&nbsp;
                  <%= property.country.name %> - <%= property.address.capitalize %>
                </p>
                <%= link_to "Détail", property, class: "btn btn-light" %>
              </div>
            </div>

          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 py-3">
        <h3 class="text-center">Trouver un biens immobilier par pays</h3>
      </div>
      <%# @property_types.each do |pt| %>
      <div class="col-lg-4 my-2">
        <%#= link_to properties_path(property_type: pt.name), class: "text-secondary" do %>
        <div class="card">
          <div class="card-body">
            <h4 class="text-center">
              <%#= pt.name %>
            </h4>
          </div>
        </div>
        <%# end %>
      </div>
      <%# end %>
    </div>
  </div>
</section>