<% set_meta_tags title: 'Mes annonces',
description: 'Mes annonces publiés sur Rover House',
keywords: 'Annonces immobilières' %>

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Mes annonces</h3>
                <p>
                    <%= pluralize(@my_properties.count, "annonce") %> publié.
                </p>
            </div>
            <% if @my_properties.present? %>
            <% @my_properties.each do |property| %>
            <div class="col-lg-3 mb-3">
                <div class="card">

              <% if property.photos.present? %>
              <%= image_tag property.photos.first, class: "card-img-top"  %>
              <% end %>

              <% if property.ad_type == "A louer" %>
              <p class="h4" style="position: absolute; bottom: 190px; left: 10px;">
                <span class="badge badge-light">
                  A louer
                </span>
              </p>
              <% elsif property.ad_type == "A vendre" %>
              <p class="h4" style="position: absolute; bottom: 190px; left: 10px;">
                <span class="badge badge-light">
                  A vendre
                </span>
              </p>
              <% end %>

              <div class="card-body">
                <h5 class="card-title">
                  <%= property.property_type + " - " + property.area.to_s %>m<sup>2</sup></%>
                </h5>
                <p class="card-text">
                  <i class="fas fa-map-marker-alt"></i>&nbsp;
                  <%= property.country.capitalize %> - <%= property.city.capitalize %>
                </p>
                <p class="card-text h4">
                  <strong>
                    <%= number_with_delimiter(property.price) %> <sup>f/mois</sup>
                  </strong>
                </p>
                <ul class="list-unstyled d-flex justify-content-between">
                    <li>
                        <%= link_to "Voir", property, class: "btn btn-secondary btn-sm" %>
                    </li>
                    <li>
                        <%= link_to "Modifier", edit_property_path(property), class: "btn btn-secondary btn-sm" %>
                    </li>
                    <li>
                        <%= link_to "Suprimer", property_path(id: property.id), class: "btn btn-danger btn-sm", data: { confirm: "Êtes-vous sûr ?" }, method: :delete %>
                    </li>
                </ul>
              </div>
            </div>
            </div>
            <% end %>
            <% end %>

            <div class="col-lg-12">
                <%== pagy_bootstrap_nav(@pagy) %>
            </div>
        </div>
    </div>
</section>