https://www.youtube.com/watch?v=8DvywoWv6fI



 <% if @property.ad_type == "A louer" %>
 <h3>
   <span class="badge badge-secondary">A louer</span>
 </h3>
 <% elsif @property.ad_type == "A vendre" %>
 <h3>
   <span class="badge badge-secondary">A vendre</span>
 </h3>
 <% end %>



 https://www.pluralsight.com/guides/ruby-on-rails-nested-attributes

 https://medium.com/@wintermeyer/authentication-from-scratch-with-rails-5-2-92d8676f6836

 https://themeforest.net/item/clainc-medical-hospital-clinic-and-pharmacy-psd-templates/23759224

 https://themeforest.net/item/dirto-directory-listing-html-template/23732493

 https://themeforest.net/item/oplus-online-job-board-social-network-psd-template/23721344


 https://onebitcode.com/english-rails-admin/

 https://dev.to/jonathans/deploying-django-using-dokku-18fj


 https://dev.to/jacobmparis/hamburger-menu-in-minimal-javascript-12an

 https://dev.to/jacobmparis/hamburger-menu-in-pure-css-mga

 https://www.theodinproject.com/courses/ruby-on-rails?ref=lnav



 https://sourcey.com/articles/rails-omniauth-using-devise-with-twitter-facebook-and-linkedin

 https://richonrails.com/articles/credit-card-processing-with-active-merchant

 http://railscasts.com/episodes/145-integrating-active-merchant

 https://github.com/activemerchant/active_merchant




 https://blog.kodius.io/devise-omniauth-multiple-modelshttps://blog.kodius.io/devise-omniauth-multiple-models


 https://revs.runtime-revolution.com/working-with-facebook-using-devise-omniauth-koala-and-rails-5-cde5d032de02


 https://realpython.com/get-started-with-django-1/

 https://ruby-china.org/topics/38370

 https://ruby-china.org/topics/33097

 https://code.tutsplus.com/articles/uploading-with-rails-and-carrierwave--cms-28409

 https://simpleisbetterthancomplex.com/series/beginners-guide/1.11/

 https://www.neontsunami.com/posts/replacing-rails-asset-pipeline-with-webpacker


 https://gist.github.com/simonc/3a21074223d2f36a7232

 http://preview.themeforest.net/item/safedia-security-html-template/full_screen_preview/23683512

 Terms & Condition
 Privacy Policy
 Help & Contact
 FAQ
 company
 about us
 team
 services
 contact us




 <%= form.simple_fields_for :photos do |photos_form| %>
 <div class="card">
   <div class="card-header">
     <p class="mb-0 h5">Photos du biens</p>
   </div>
   <div class="card-body">
     <div class="form-row">
       <div class="col-lg-4">
         <%= photos_form.input :name, as: :file, input_html: {name: "photos[name][]" } %>
       </div>
       <div class="col-lg-4">
         <%= photos_form.input :name, as: :file, input_html: {name: "photos[name][]" } %>
       </div>
       <div class="col-lg-4">
         <%= photos_form.input :name, as: :file, input_html: {name: "photos[name][]" } %>
       </div>
     </div>
   </div>
 </div>
 <% end %>


 <div class="card">
   <div class="card-header">
     <p class="mb-0 h5">Photos du biens</p>
   </div>
   <div class="card-body">
     <div class="form-row">
       <% 3.times do %>
       <div class="col-lg-12">
         <%= form.input :photos, as: :file, input_html: {name: "property[photos][]"} %>
       </div>
       <% end %>
     </div>
   </div>
 </div>


 <% if property.errors.any? %>
 <div id="error_explanation" class="is-hidden">
   <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

   <ul>
     <% property.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
 </div>
 <% end %>