<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>RoverHouse - <%= controller_name + '/' + action_name  %></title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if flash[:notice] %>
  <div class="alert alert-success mb-0" role="alert">
    <p class="text-center mb-0">
      <strong><%= flash[:notice] %></strong>
    </p>
  </div>
  <% elsif flash[:alert] %>
  <div class="alert alert-danger mb-0" role="alert">
    <p class="text-center mb-0">
      <strong><%= flash[:alert] %></strong>
    </p>
  </div>
  <% end %>

</body>

</html>