<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
<%= render "shared/head" %>
  </head>
  <body class="<%= controller_name + '/' + action_name  %>">
    <%= render "shared/flash_notification" %>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/subscribe_to_newsletter" %>
    <%= render "shared/footer" %> 
  </body>
</html>
